{%extends "components/includes/base.html"%}
{%block content%}

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h3>Compensación de hipertensión</h3>
      <p>Este indicador mide el porcentaje de personas con su hipertensión compensada dividido por la cantidad de personas con diabetes mellitus esperadas en la población inscrita en Fonasa de la comuna.
      </p>
      <div style="background:#fff;border-radius: 5px;border: 1px solid #555;padding: 10px;margin-bottom: 20px;">
        <h4>Leyenda</h4>
        <p><span style="color:#000; opacity:0.5"><span class="glyphicon glyphicon-stop" ></span> No data </span></p>
        <p><span style="color:#d7191c; opacity:0.5"><span class="glyphicon glyphicon-stop"></span> &lt; 50% del target </span></p>
        <p><span style="color:orangered; opacity:0.5"><span class="glyphicon glyphicon-stop" ></span> 50% - 75% target</span></p>
        <p><span style="color:gold; opacity:1"><span class="glyphicon glyphicon-stop" ></span> 76%-95% target</span></p>
        <p><span style="color:#abdda4; opacity:1"><span class="glyphicon glyphicon-stop" ></span> 95% - 100% target</span></p>
        <p><span style="color:#2b83ba; opacity:0.5"><span class="glyphicon glyphicon-stop" ></span> &gt; 100% target</span></p>
      </div>
      <p>
        <span class="glyphicon glyphicon-move" ></span> Mover mapa 
        <span class="glyphicon glyphicon-resize-vertical" ></span> Zoom mapa
      </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="viz">
      <div id="waiting" style="text-align:center;margin:auto;"><img src="waiting.gif"/>
      <p>Cargando mapa...</p></div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="details">
    </div>
  </div>
</div>
<script>
var data = [
{%for row in queries.h%}
{codigo: {{row[0]}}, val1h: {{row[1]|default(0, true)}}, val2h: {{row[2]|default(0, true)}}, classh: {{row[3]|default(0, true)}} }{%if not loop.last%},{%endif%}
{%endfor%}
];
</script>
<script src="/js/d3.v3.min.js"></script>
<script src="/js/topojson.v1.min.js"></script>
<script src="/js/h.js"></script>

{%endblock%}